<html>

	<head>

		<title>login page</title>
        <link rel="stylesheet" href="../static/style.css">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	</head>

	<body>

		<form method="post" action="/login">

            <section class="login-form">
                <h1>W A T C H E R</h1>
                <form action="">
                    <div class="int-area">
                        <input type="text" name="id" id="id" autocomplete="off" required="required">
                        <label for="id">USER NAME</label>
                    </div>
                    <div class="int-area">
                        <input type="password" name="pw" id="pw" autocomplete="off" required="required">
                        <label for="pw">PASSWORD</label>
                    </div>
                    <div class="btn-area">
                        <button id="btn" type="submit">LOGIN</button>
                    </div>
                </form>
                <div class="caption">
                    <a href="">Forgot Password?</a>
                </div>
            </section>

		</form>

	</body>

</html>